.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  background-color: #703ff8f2;
  padding-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.header-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}
.text {
  color: #0dd3bb;
  font-size: 3rem;
  font-weight: 300;
}
.underline {
  width: 61px;
  height: 6px;
  background: #0dd3bb;
  border-radius: 9px;
}
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 80px;
  background: #ff8717;
  border-radius: 6px;
}

.input i {
  margin: 0px 30px;
  color: #0dd3bb;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}
.forgot-password {
  padding-left: 200px;
  margin-top: 25px;
  color: black;
  font-size: 18px;
}
.forgot-password span {
  color: #ff8717;
  cursor: pointer;
}
.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #0dd3bb;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 300;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}
