:root {
  --gradient: linear-gradient(#0079d3, #ff4500);
  --primary-color: white;
  --secondary-color: #24a0ed;
}

.funny {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  height: 100vh;
  background: var(--gradient);
}

.funny-container {
  width: 15rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: var(--primary-color);
  height: fit-content;
}
.card-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.funny-title,
.funny-description {
  margin: 0.5rem 5%;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}

.like-button {
  padding: 1rem;
  margin: 0.5rem;
  outline: none;
  font: inherit;
  border-radius: 1rem;
  background: var(--gradient);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 37.5rem) {
  .funny {
    display: grid;
    /* gap: unset; */
  }
}
