:root {
  --scrollbar-track: #703ff8f2;
  --scrollbar-thumb: #7ddf64;
  --scrollbar-hover: #ff4500;
}

::-webkit-scrollbar {
  width: 1.25rem;
}
::-webkit-scrollbar-track {
  background: var(--sidenav-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--buttons-first);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--buttons);
}
